body {
    background-image: linear-gradient(
        180deg,
        #87CEFA 5%,
        #778899 20%,
        #778899 60%,
        #B0C4DE 95%
        );
        margin: 0;
        min-height: 100vh;
        width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}

main > section button{
    background-color: #708090;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 9px 23px;
}