body {
    background-image: linear-gradient(
        180deg,
        #87CEFA 5%,
        #778899 20%,
        #778899 60%,
        #B0C4DE 95%
        );
        margin: 0;
        min-height: 100vh;
        width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 300px;
    margin: 15px 0;
    width: 300px;
}